'use client'

import React from 'react'
import './styles.scss'

interface {{pascalCase name}}ClientProps {
  // Define tus props aquí
}

const {{pascalCase name}}Client = (props: {{pascalCase name}}ClientProps) => {
  return (
    <div className='{{camelCase name}}'>
      <h2>{{pascalCase name}}</h2>
      {/* Lógica del cliente aquí */}
    </div>
  )
}

export default {{pascalCase name}}Client